body{width: 100%;overflow-x: hidden;}
#header img{width: 10px; float: left;position: relative;top: 10px;left: 10px;}
/*主体内容样式*/
.detail{font-size: 15px;color: #333;line-height: 40px;margin-top: 70px;}
.detail div{background:#fff;position:relative;}
.detail div p{background:#fff;margin-bottom:10px;padding: 0 20px;}
.detail div h5{margin-bottom:0;border-bottom: 1px solid #eee;font-weight: normal;font-size:16px;background:#fff;margin-bottom:10px;
  padding: 0 3%;position:relative;}
.detail div h5 span{margin-right: 20px;}
.detail .detailmsg{position:relative;}
.detail .detailmsg textarea{width: 94%;border-radius:5px;margin-top:10px;padding: 2%;position:absolute;height:75%;left:2%;
  top: 30px;line-height: 30px;font-size:15px;background: transparent;border: 0px;resize:none;list-style: none;outline:none;
  resize:none;color: #222;}
.detail .detailmsg textarea[disabled]{color:#222;opacity:1}
.detail .detailmsg .img{width:20px;height:20px;position:absolute;top: 22px;margin-right:5px;left:2px;}
.detail .detailmsg h5 .img{top: 7px}
.detail .detailmsg .questiontitle{font-size: 17px;top: 0;font-weight: 900;width:90%;left:5%;}
.detail .detailmsg .imgpic{width:20px;height:20px;border-radius: 50%;position:relative;top: 7px;border: 1px solid #eee;margin-right:5px;}
.detail .detailmsg{position:relative;padding-bottom: 10px}
.detail .detailmsg p{opacity: 0;padding:0;}
.detail .detailmsg .user{padding:0 20px;margin-bottom:0;color: #666;font-size: 12px;text-align: right;background: transparent;line-height: 25px;}
.detail .detailmsg .qusetiontime{opacity: 1;}
.tab{display:inline-block;width:46%;height:40px;line-height: 40px;color: #fff;text-align: center;background:#f5c35e;
  border-radius:10px;margin-bottom: 60px;position:relative;z-index: 11;margin-top:30%;}
.bth{margin-left: 2%}
.bthedit{margin-left:2%;}
.detail .askdec{padding-bottom: 100px;margin-top:10px;}
.detail .askdec h5 .img{top:10px}
.detail .askdec textarea{height:70%;overflow-y: scroll;}
.detail .askdec h5{padding-left: 6%}
/*底部*/
.foottab{padding:10px ;background:#fff;position: fixed;width: calc(100% - 20px);bottom: 0;border-top: 1px solid #eee;z-index: 22222;}
.foottab span{margin-right: 20px;font-weight: 800;}
.foottab .active{color:#ff9913;}
.foottab span img{width: 18px;position: relative;top: 3px;}
.foottab .right{color: #333;float: right;position: relative;top: 3px;}
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  .detail {
      margin-top: 90px;
  }

}
/* xr */
@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
  .detail{
      margin-top: 90px;
  }

}
/* xs max */
@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) {
  .detail{
      margin-top: 90px;
  }
}
