.usercenter{position: relative;background: #29292d;min-height: 200px;}
.usercenter .back{position: absolute;width: 50px;height: 30px;background: url(../../img/back.png);right: 0px;top: 30px;background-size: auto 100%;background-repeat: no-repeat;}
.usercenter .headimg{display: inline-block;border: 4px solid #535256;border-radius: 50%;margin-top: 70px;margin-left: 50px;}
.usercenter .headimg img{width: 60px;border-radius: 50%;height: 60px;border: 3px solid #fefefe;}
.loginout img{width: 25px;height: auto;position: absolute;top: 90px;}
.foot{z-index: 1111;}
.foot .tab p{line-height: 30px;height: 30px;}
.left{display: inline-block;text-align: left;margin-left: 10px;color:#fefefe;width: 60%;}
.left a{color: #fefefe;width: 100%;}
.left a .goset{width: 15px;transform: rotate(180deg);float: right;}
.middle{background: #f5f5f5;padding-bottom: 65px;margin-top: 80px;}
.middle .mt10{margin-top: 10px;}
.middle ul{padding: 0;margin: 0;}
.middle ul li{padding: 0 15px;background: #fff;height: 60px;line-height: 60px;position: relative;font-size: 14px;border-bottom: 1px solid #ebebeb;letter-spacing:1.5px;}
.middle ul li img{width: 25px;margin-right: 15px;}
.middle ul li .right{right: 15px;position: absolute;top: 22px;color: #b8b8b8;line-height: 18px;}
.middle ul li .right img{width: 9px;position: relative;top: -2px;}
.middle .loginout{text-align: center;margin-top: 60px;}
#nicknamep{line-height: 25px;height: 25px;font-size: 15px;font-weight: 600;color: #fefefe;}
#cacheSize{font-weight: normal;}
@media screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
    .middle{margin-top: 100px;}
}
