#header .right{float: right;font-size: 14px;margin-right: 20px;}
.middle{text-align: left;margin-top: 75px;}
.middle h5{padding: 10px 0;background: #fff;}
.middle em{font-style: normal;color:#ddd;}
.middle .tab{display: inline-block;margin: 0 20px;color:#666;font-weight: normal;padding: 5px 0;font-size: 13px;}
.middle .active{color:#ff9913;border-bottom: 1px solid #ff9913;}
.middle .witharawal{margin-top: 10px;padding: 10px;font-size:13px;background: #fff;color:#999;}
.middle .witharawal .big{font-size:20px;color:#333;}
.middle .datalist{margin-top: 20px;background: #fff;}
.middle .datalist li{padding: 10px}
.middle .datalist li p{font-size:14px;color:#666;}
.middle .datalist li input{ width: calc(100% - 10px);border-radius: 5px;border: 1px solid #eee;margin-top: 5px;background: #f8f8f8;font-size: 12px;padding: 8px 0;padding-left: 10px;}
.middle .wx{display: none;}
.middle .button{width: calc(100% - 20px);display: block;line-height: 40px;background: #ff9913;color:#fff;text-align: center;margin-left:10px;border-radius: 5px;margin-top:20px;}
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  .middle {
      margin-top: 90px;
  }

}
/* xr */
@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
  .middle {
      margin-top: 90px;
  }

}
/* xs max */
@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) {
  .middle {
      margin-top: 90px;
  }

}
